$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.portfolio {
  overflow-x:hidden;
  background-color: tan;
  background-size: cover;
  z-index: 10;
}
.header {
  position: relative;
  top:0;
  left: 0;
  width:100%; 
  height:350px;
  background-color: #71b7d1;
  background-image: url(http://www.transparenttextures.com/patterns/black-thread.png);
  border-bottom: 4px solid black;
}

.photoAndName {
  position: absolute;  
  left: 50%;
  margin-left: -15%;
  margin-top: 50px;
  height: 300px;
  color: #fff;
  z-index: 3;
  
  img{
    width: 250px;  
    height: 250px;  
    float: left;
    border: 3px solid #2e2b28;
    border-radius: 50%
    }
  .name{
    font-family: 'Poiret One';
    float: left;
    display: inline;
    margin-left: 15px;    
    text-shadow: 1px 1px #000, 1px 2px 3px #000;
    h1{
      font-size: 3em;
    }
    small{
      display: block;
      margin-top: 50px;
      color: #fff;
      
    }
  }
}
.aboutMe, .expertise{
  margin: 0 5%;
  background-color: rgba(238, 237, 232, .4);
  border-radius: 20px;
  border: 5px solid rgba(0,0,0,.8);
  width: 40%;
  color: white;
  text-shadow: 1px 1px 1px black;
  h1{
    font-size: 2.4em;
  }
  p{
    text-align: left;
    font-size: 1.2em;
  }
} 

.expertise{
  text-align: center;
}


.folio, .contact{
  background-color: rgba(238, 237, 232, .4);
  border-radius: 20px;
  border: 5px solid rgba(0,0,0,.8);
  width: 100%;
  margin-top: 50px; 
  color: white;
  text-shadow: 1px 1px 1px black;
  h1{
    font-size: 2em;
  }
  p{
    text-align: left;
    font-size: 1.2em;
  }
}

.folio{
  text-align: center;
  width: 90%;
  margin: 50px 5%;

}

.menuButton{
  position: fixed;
  margin: 10px;
  color: white;
  z-index: 100;
  font-size: 4em;
  span{
    margin-left: -10px;
    font-size: .8em;
    display:none;
  }
}

.aboutMe h1{
  margin-bottom: 45px;
}

.slideout{
  margin-left: 200px;
  animation-duration: 2s;
  animation-name: slideout; 
}

.slidein{
  margin-left: 0px;
  animation-duration: 2s;
  animation-name: slidein; 

}

@keyframes slideout {
  from {
    margin-left: 0;  
  }
  to {
    margin-left: 200px;
  }
} 

@keyframes slidein {
  from {
    margin-left: 200px;   
  }
  to {
    margin-left: 0px;
  }
} 

.hiddenMenu {
  z-index: 1000;
  overflow-x: hidden;
  font-family: 'Poiret One';
  position: fixed;
  background-color: #c6d6e4;
  width:200px;
  height: 100%;
  margin-left: -200px;
  ul{
  list-style: none;
    
    li{
      font-size: 2.4em;
      color: black;
      margin: 50px -20px;
      text-decoration: none; 
      :link{
        color: black;
      }
      :hover, :active{
        font-size: 3.5rem;
      }
    
    }
  }
}
  
.hiddenMenu ul li:first-child{
  margin-top: 80px;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}
.slider:hover,
.slider:focus {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

.expertise {
  padding-bottom: 0;
  img{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px;
  }
}  

.expertise{
  background-color:rgba(238,237,232, .6);
  i{
    font-size: 5em;
  }
  p{font-size: 5em;}
}

.folio img{
  display: inline-block;
  
  width: 350px;
  height: 250px;
  margin: 15px;
  
}

footer{
  text-align: right;
  background-color: #c4c0b8;
  width: 100%;
  height: 100%;
  padding: 10px 15px -10px 0;
}
.wrapper{
display: inline-block;
  position:relative;
  }

.wrapper .hoverText {
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
padding-top:50px;  
text-align: center;  
font-size: 2em; 
visibility:hidden;
}

.wrapper:hover .hoverText {
  visibility: visible;
  color: red;
  z-index: 200;
}

.darkBackground{
  background-color: rgba(0,0,0,.8);
  position: absolute;
  height: 90%;
  width: 92%;
}
.contact a{
    margin: 0 30px;
  }

.contact a:last-child{
    margin: 0 0px;
  }

a{
  cursor: pointer;
}


